:root {
  --main-colour0: #181C14;
  --main-colour1: #3C3D37;
  --main-colour2: #697565;
  --main-colour3: #ECDFCC;
  --main-text-colour0: #f4fdeb;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.bf-main-homepage {
  display: flex;
  height: 100%;
}

.bf-side-bar { 
  background-color: var(--main-colour0);
  color: var(--main-text-colour0);
  border-right: 1px solid var(--main-colour2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.bf-side-bar ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bf-link-icon {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 12px;

  transition-property: background-color box-shadow;
  transition-timing-function: ease;
  transition-duration: 100ms;
}

.bf-link-icon:hover {
  background-color: var(--main-colour1);
  box-shadow:  0px 0px 20px #313131;
}

.bf-content-display-area {
  flex-grow: 1;
  background-color: var(--main-colour0);
  color: var(--main-text-colour0);
}

.bf-header {
  border-bottom: 1px solid var(--main-colour2);
}

.bf-page-title {
  padding: 16px;
  text-align: center;
}

.bf-logo-home {
  width: 64px;
  border-radius: 8px;
}

.bf-create-post {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  gap: 8px;
}

#bf-post-title {
  padding: 16px;
  font-size: 20px;
}

#bf-post-body {
  padding: 16px;
}

.bf-submit-post {
  padding: 8px 16px;
  font-size: 18px;

  align-self: flex-end;
}

.bf-main-display {
  padding: 16px;
}

.bf-posts-grid-display {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.bf-post-card {
  border: 1px solid var(--main-colour2);
  padding: 32px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 16px;
}

.bf-post-title {
  font-size: 24px;
}

.bf-post-contents {
  color: rgba(244, 253, 235, 0.4);
}

.bf-post-date {
  color: rgba(244, 253, 235, 0.8);
}

.bf-divider {
  border-top: 1px solid rgba(233, 233, 233, 0.3);
  margin: 8px 0px;
}

.bf-post-card-interactables {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bf-post-expanded-root > h1 {
  font-size: 32px;
}

.bf-post-details {
  color: rgba(128, 128, 128, 1);
  display: flex;
  gap: 16px;
}

.bf-read-more-btn {
  color: var(--main-colour1);
  background-color: var(--main-colour3);
  border: 1px solid transparent;

  padding: 8px 16px;
  border-radius: 4px;

  transition-property: color background-color border;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.bf-read-more-btn:hover {
  color: var(--main-text-colour0);
  border: 1px solid var(--main-colour2); 
  background-color: var(--main-colour0);
}
