:root {
  --main-colour0: #181C14;
  --main-colour1: #3C3D37;
  --main-colour2: #697565;
  --main-colour3: #ECDFCC;
  --main-text-colour0: #f4fdeb;
}

#root {
  display: flex;
  flex-grow: 1;
}

.bf-main-homepage {
  flex-grow: 1;
  display: flex;
}

.bf-side-bar {
  background-color: var(--main-colour0);
  color: var(--main-text-colour0);
  border-right: 1px solid var(--main-colour2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.bf-side-bar ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bf-link-icon {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 12px;

  transition-property: background-color box-shadow;
  transition-timing-function: ease;
  transition-duration: 100ms;
}

.bf-link-icon:hover {
  background-color: var(--main-colour1);
  box-shadow:  0px 0px 20px #313131;
}

.bf-content-display-area {
  flex-grow: 1;
  background-color: var(--main-colour0);
  color: var(--main-text-colour0);
}

.bf-header {
  border-bottom: 1px solid var(--main-colour2);
}

.bf-page-title {
  padding: 16px;
  text-align: center;
}

.bf-logo-home {
  width: 64px;
  border-radius: 8px;
}

.bf-create-post {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  gap: 8px;
}

#bf-post-title {
  padding: 16px;
  font-size: 20px;
  background-color: var(--main-colour3);

  border-radius: 8px;
  border: 2px solid var(--main-colour2);
  box-shadow: var(--main-colour1) 0px 0px 12px 0px inset;
}

#bf-post-body {
  padding: 16px;
  font-size: 18px;
  resize: none;
  background-color: var(--main-colour3);

  border-radius: 8px;
  border: 2px solid var(--main-colour2);
  box-shadow: var(--main-colour1) 0px 0px 8px 2px inset;
}

.bf-submit-post {
  font-size: 20px;
  align-self: flex-end;
}

.bf-main-display {
  overflow-y: auto;
  padding: 16px;
}

.bf-posts-grid-display {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.bf-post-card {
  border: 1px solid var(--main-colour2);
  padding: 32px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 16px;
}

.bf-post-title {
  font-size: 24px;
}

.bf-post-contents {
  line-height: 1.5;
  color: rgba(244, 253, 235, 0.4);
}

.bf-post-date {
  color: rgba(244, 253, 235, 0.8);
}

.bf-divider {
  border-top: 1px solid rgba(233, 233, 233, 0.3);
  margin: 8px 0px;
}

.bf-post-card-interactables {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bf-post-expanded-root {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.bf-post-expanded-root > h1 {
  font-size: 38px;
}

.bf-post-details {
  color: rgba(128, 128, 128, 1);
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
  margin-top: 4px;
}

.bf-post-details > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.bf-post-details > p {

  display: flex;
  align-items: center;
}

.bf-main-button-design {
  color: var(--main-colour1);
  background-color: var(--main-colour3);
  border: 1px solid transparent;

  padding: 8px 16px;
  border-radius: 4px;

  transition-property: color background-color border;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.bf-main-button-design:hover {
  color: var(--main-text-colour0);
  border: 1px solid var(--main-colour2); 
  background-color: var(--main-colour0);
}

.bf-post-expanded-content {
  line-height: 1.6;
  font-size: 18px;
}

.bf-comment-section > form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bf-comment-section > form textarea {
  border-radius: 8px;
  padding: 8px;
  resize: none;
  background-color: var(--main-colour3);
  color: var(--main-colour0);
  font-size: 18px;
}

.bf-comment-section > form button {
  align-self: flex-end;
  font-size: 18px;
}

.bf-comment-header > h3 {
  font-size: 26px;
}

.bf-comment-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bf-comment-header > div {
  background-color: #e0a01f;
  padding: 8px;
  height: 32px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bf-comments {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bf-comment-quick-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bf-comment > p {
  margin: 16px 0px;
}

.bf-comment {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-colour1);
  padding: 16px;
  border-radius: 8px;
}

.bf-comment-interaction {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.bf-comment-interaction button {
  border: 1px solid transparent;
  background-color: transparent;
}

.bf-comment-interaction p {
  text-align: center;
}

.bf-post-interactables {
  width: 26px;
  height: 26px;
}

.bf-post-bottom {
  display: flex;
  margin-top: 32px;
}

.bf-post-bottom-entry {
  display: flex;
  align-items: center;
  gap: 2px;
}

.bf-post-bottom-entry > button {
  background-color: transparent;
  border: 1px solid transparent;
  margin-bottom: auto;
  display: flex;
  align-items: center;
}

.bf-post-bottom-entry > p {
  display: flex;
  align-items: center;
}

.todo-actually-change-to-user-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--main-colour3);
}

.bf-post-account-root > header {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.bf-post-account-root {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.bf-post-account-root .todo-actually-change-to-user-profile {
  width: 128px;
  height: 128px;
}

.bf-post-account-root > .bf-main-button-design {
  margin-top: 12px;
}

.bf-profile-username, .bf-edit-uname {
  font-size: 22px;
  padding: 8px;
  border: 1px solid transparent;
}

.bf-edit-uname {
  background-color: transparent;
  border: 1px solid var(--main-colour3);
  color: var(--main-text-colour0);
  border-radius: 8px;
}


.bf-user-stuff-list {
  margin-top: 16px;
  margin-bottom: 8px;
  display: flex;
  border-bottom: 1px solid var(--main-colour1);
  justify-content: space-around;
}

.bf-user-stuff-list button {
  font-size: 22px;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--main-colour2);

  transition-property: color;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.bf-user-stuff-list button:hover, .bf-user-stuff-list button.selected {
  color: var(--main-text-colour0);
}

.bf-user-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  align-items: start;
}

.bf-post-notification-root {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
